<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Mailigen_Synchronizer>
            <version>1.1.4</version>
        </Mailigen_Synchronizer>
    </modules>
    <global>
        <helpers>
            <mailigen_synchronizer>
                <class>Mailigen_Synchronizer_Helper</class>
            </mailigen_synchronizer>
        </helpers>
        <blocks>
            <mailigen_synchronizer>
                <class>Mailigen_Synchronizer_Block</class>
            </mailigen_synchronizer>
            <adminhtml>
                <rewrite>
                    <newsletter_subscriber_grid>Mailigen_Synchronizer_Block_Newsletter_Subscriber_Grid</newsletter_subscriber_grid>
                </rewrite>
            </adminhtml>
        </blocks>
        <models>
            <mailigen_synchronizer>
                <class>Mailigen_Synchronizer_Model</class>
                <resourceModel>mailigen_synchronizer_resource</resourceModel>
            </mailigen_synchronizer>
            <mailigen_synchronizer_resource>
                <class>Mailigen_Synchronizer_Model_Resource</class>
                <entities>
                    <customer>
                        <table>mailigen_synchronizer_customer</table>
                    </customer>
                </entities>
            </mailigen_synchronizer_resource>
            <newsletter>
                <rewrite>
                    <subscriber>Mailigen_Synchronizer_Model_Newsletter_Subscriber</subscriber>
                </rewrite>
            </newsletter>
        </models>
        <resources>
            <mailigen_synchronizer_setup>
                <setup>
                    <module>Mailigen_Synchronizer</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </mailigen_synchronizer_setup>
            <mailigen_synchronizer_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </mailigen_synchronizer_write>
            <mailigen_synchronizer_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </mailigen_synchronizer_read>
        </resources>
        <events>
            <newsletter_subscriber_save_commit_after>
                <observers>
                    <newsletter_subscriber_newsletter_subscriber_create_after>
                        <type>singleton</type>
                        <class>Mailigen_Synchronizer_Model_Observer</class>
                        <method>newsletterSubscriberSaveCommitAfter</method>
                    </newsletter_subscriber_newsletter_subscriber_create_after>
                </observers>
            </newsletter_subscriber_save_commit_after>
            <admin_system_config_changed_section_mailigen_synchronizer>
                <observers>
                    <newsletter_subscriber_admin_system_config_changed_section_mailigen_synchronizer>
                        <type>singleton</type>
                        <class>Mailigen_Synchronizer_Model_Observer</class>
                        <method>adminSystemConfigChangedSectionMailigenSettings</method>
                    </newsletter_subscriber_admin_system_config_changed_section_mailigen_synchronizer>
                </observers>
            </admin_system_config_changed_section_mailigen_synchronizer>
            <customer_delete_after>
                <observers>
                    <mailigen_synchronizer_customer_delete_after>
                        <type>singleton</type>
                        <class>Mailigen_Synchronizer_Model_Observer</class>
                        <method>customerDeleteAfter</method>
                    </mailigen_synchronizer_customer_delete_after>
                </observers>
            </customer_delete_after>
            <customer_save_after>
                <observers>
                    <mailigen_synchronizer_customer_save_after>
                        <type>singleton</type>
                        <class>Mailigen_Synchronizer_Model_Observer</class>
                        <method>customerSaveAfter</method>
                    </mailigen_synchronizer_customer_save_after>
                </observers>
            </customer_save_after>
            <customer_address_save_after>
                <observers>
                    <mailigen_synchronizer_customer_address_save_after>
                        <type>singleton</type>
                        <class>Mailigen_Synchronizer_Model_Observer</class>
                        <method>customerAddressSaveAfter</method>
                    </mailigen_synchronizer_customer_address_save_after>
                </observers>
            </customer_address_save_after>
            <customer_login>
                <observers>
                    <mailigen_synchronizer_customer_login>
                        <type>singleton</type>
                        <class>Mailigen_Synchronizer_Model_Observer</class>
                        <method>customerLogin</method>
                    </mailigen_synchronizer_customer_login>
                </observers>
            </customer_login>
            <sales_order_save_after>
                <observers>
                    <mailigen_synchronizer_sales_order_save_after>
                        <type>singleton</type>
                        <class>Mailigen_Synchronizer_Model_Observer</class>
                        <method>salesOrderSaveAfter</method>
                    </mailigen_synchronizer_sales_order_save_after>
                </observers>
            </sales_order_save_after>
        </events>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <newsletter_subscriber before="Mage_Adminhtml">Mailigen_Synchronizer_Adminhtml</newsletter_subscriber>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <mailigen_synchronizer>
                                            <title>Mailigen - Settings</title>
                                        </mailigen_synchronizer>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <events>
            <adminhtml_widget_container_html_before>
                <observers>
                    <mailigen_synchronizer_adminhtml_widget_container_html_before>
                        <type>singleton</type>
                        <class>Mailigen_Synchronizer_Model_Observer</class>
                        <method>adminhtmlWidgetContainerHtmlBefore</method>
                    </mailigen_synchronizer_adminhtml_widget_container_html_before>
                </observers>
            </adminhtml_widget_container_html_before>
        </events>
    </adminhtml>
    <default>
        <mailigen_synchronizer>
            <general>
                <cron_string>0 1 * * *</cron_string>
            </general>
        </mailigen_synchronizer>
    </default>
    <crontab>
        <jobs>
            <mailigen_synchronizer>
                <schedule>
                    <config_path>mailigen_synchronizer/general/cron_string</config_path>
                </schedule>
                <run><model>mailigen_synchronizer/observer::daily_sync</model></run>
            </mailigen_synchronizer>
        </jobs>
    </crontab>
</config>

